<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--Usesr对象创建-->
    <bean class="org.example.spring6.iocxml.User" id="user"/>
    <!--<bean class="org.example.spring6.iocxml.User" id="user2"/>-->

    <!--一个接口实现类的获取过程-->
    <bean id="userDao" class="org.example.spring6.iocxml.bean.UserDaoImpl"/>
    <bean id="personDao" class="org.example.spring6.iocxml.bean.PersonDaoImpl" />
</beans>